<a href="https://colab.research.google.com/github/hwaraha/Chapter-4/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#1
nums = list(map(int, input("정수를 여러 가ㅣ 입력하시오: ").split()))
def n(nums):
    r1 = sum(nums)/len(nums)
    r2 = max(nums)
    r3 = min(nums)
    return r1, r2, r3
print('평균값은', sum(nums)/len(nums), '최댓값은', max(nums), '최솟값은', min(nums))

정수를 여러 가ㅣ 입력하시오: 3 45 32 5 7 8 4 44 5 90 17
평균값은 23.636363636363637 최댓값은 90 최솟값은 3

In [4]:
# 8
x1 = int(input('좌표를 입력하시오 :' ))
y1 = int(input('좌표를 입력하시오 :' ))
x2 = int(input('좌표를 입력하시오 :' ))
y2 = int(input('좌표를 입력하시오 :' ))
def print_distance(x1, y1, x2, y2):
    r = ((x2 -x1) ** 2 +(y2-y1) ** 2) ** 0.5
    print('두 점의 거리:', r)


print_distance(x1, y1, x2, y2)

좌표를 입력하시오 :0
좌표를 입력하시오 :0
좌표를 입력하시오 :3
좌표를 입력하시오 :4
두 점의 거리: 5.0

In [5]:

# 10
a = int(input("밑변을 입력하시오: "))
b = int(input("높이를 입력하시오: "))
def cal_area(a, b):
    r = (a * b) / 2
    print('삼각형의 면적:', r)

cal_area(a, b)

밑변을 입력하시오: 20
높이를 입력하시오: 15
삼각형의 면적: 150.0

In [6]:
#7
def print_mile2km(m):
    for _ in range(m):
        for i in range(1, 6):
            print('마일 = ', i * 1.61, '킬로미터')


print_mile2km(1)

마일 =  1.61 킬로미터
마일 =  3.22 킬로미터
마일 =  4.83 킬로미터
마일 =  6.44 킬로미터
마일 =  8.05 킬로미터

In [7]:
#6
def min_nums(m, n):
    r1 = min(m, n)
    r2 = max(m, n)
    return r1, r2
print('100과 200중 큰 수는:', max(200, 100),'\n''100과 200중 작은 수는:', min(200, 100))

100과 200중 큰 수는: 200
100과 200중 작은 수는: 100